:root {
    --backgroundColor: #082920;
    --textColor: #faf9ec;
    --hoverColor: #AD001F;
    --sectionBgColor: #044231;
    --heroBgColor: #D9633F;
    --requiredColor: rgb(77, 255, 0);
    --shadowColor: black;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

ul li {
    color: var(--textColor);
    display: inline;
    list-style: none;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
}

ul li:hover {
    color: var(--hoverColor);
}

label,
h2,
.welcome-text,
h1 {
    color: var(--textColor);
    font-family: 'Bungee', cursive;
}

label {
    font-size: larger;
    color: rgb(0, 0, 0);
}

h2,
.welcome-text {
    font-size: 4em;
    text-align: center;
    font-style: oblique;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

a {
    all: unset;
}

#mainName,
#About,
#Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainName,
#About {
    width: 100%;
    background-color: var(--sectionBgColor);
    padding: 20px;
    gap: 10px;
    height: 95vh;
}

#hero {
    object-fit: contain;
    height: 40vh;
    max-width: 70%;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--heroBgColor);
}

#Contact {
    min-height: 50vh;
    justify-content: flex-start;
    gap: 20px;
}

.kwes-form {
    background-color: var(--heroBgColor);
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    border-radius: 5px;
    padding: 7px;
    filter: drop-shadow(0px 0px 10PX var(--shadowColor));
}

.socialsLinks a img {
    height: 20px;
}

#Projects {
    height: 100vh;
}

#imageholder {
    border-radius: 100%;
    height: 500px;
    width: 500px;
    overflow: hidden;
}

#mainimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#inputmessage {
    height: 100px;
}

.required_input {
    color: var(--requiredColor);
    font-size: 10px;
}

footer {
    background-color: var(--sectionBgColor);
    color: white;
    font-size: 1.2em;
}

/* Media Queries */

@media only screen and (max-width: 767px) {

    h2,
    .welcome-text {
        font-size: 2em;
    }

    header {
        display: grid;
        justify-content: center;
    }

    header img,
    #imageholder,
    #mainnamediv p {
        display: none;
    }

    #mainnamediv div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .kwes-form {
        width: 300px;
    }

    label {
        font-size: .8em;
    }
}

@media only screen and (max-width: 991px) {
    #imageholder {
        display: none;
    }
}