:root{
    --backgroundColor:#044231;
    --colorA: #8FFFA3;
    --colorB: #73FA8C;
    --colorC: #AD001F;
    --colorD: #FA738B;

    --text: #faf9ec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
}

body{
    display: grid;
    background-color: var(--backgroundColor);
}

header{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vw;
    padding-bottom: 10px;
}

header div{
    display: flex;
    gap: 10px;
}

ul li{
    color: var(--text);
    display: inline;
    list-style: none;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
}

main{
    display: grid;
    background-color: var(--colorC);
    width: 100vw;
    justify-content: center;
}

.mainName{
    display: flex;
    justify-items: center;
    align-items: center;
}

.welcome-text{
    font-size: 4em;
    font-style: oblique;
    color: var(--text);
    text-align: center;
    font-family: 'Bungee', cursive;
}

.welcome-text + h1 {
    font-size: 1em;
    color: var(--text)
}

.socialsLinks a img{
  height: 20px;
}









@media only screen and (max-width: 600px){
    header{
        display: grid;
        justify-content: center;        
    }

    header img{
        display: none;
    }

    ul li{
        font-size: 2em;
    }

    #mainnamediv div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mainnamediv div h2{
    font-size: 2em;
    }

    #mainnamediv p{
        display: none;
    }

}